.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
  text-align: right;
}

.message__user {
  margin-left: auto;
  color: rgb(226, 223, 223);
  text-align: left !important;
}

.message__userCard {
  background: #0b81ff !important;
}

.message__guestCard {
  background: #e9e9eb !important;
}
